
.dashboard-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the dashboard content */
.dashboard-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the dashboard text */
.dashboard-text {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.dashboard-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard-text p {
    font-size: 16px;
    line-height: 1.5;
}
