 body, header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #2f97dd;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the headings */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

/* Style the login section */
.login-section {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form elements */
.form-group {
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}

label {
    display: inline;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #3498db;
}

/* Add a hover effect to links */
a:hover {
    text-decoration: underline;
}
