body{
    margin:0;
    padding:0;
}
.site-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    text-align: left;
    font-size: 24px;
    margin-bottom:30px;
    font-weight: 700;
    
}

.registration-form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}


.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="password"],.registration-form input[type="email"]{
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
