{% extends 'dashboard.html' %}

{% block content %}
<style>
    /* Add your CSS styles here */
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        text-align: center;
    }

    h1 {
        color: #333;
        margin-top: 20px;
    }

    form {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 700px;
        padding: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-top: 10px;
        text-align: left;
    }

    input[type="text"],
    input[type="number"],
    input[type="url"],
    select {
        width: 75%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<h1>Add App</h1>
<form method="post" action="{% url 'android_app_create_form' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}
