{% extends 'dashboard.html' %}

{% block content %}
<style>
    /* Styling for the body */
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    /* Styling for the main content container */
    .container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px auto;
        max-width: 600px;
    }

    /* Styling for the app image */
    img.app-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    /* Styling for the headings */
    h1, h2 {
        color: #333;
    }

    /* Styling for the paragraphs */
    p {
        color: #666;
    }

    /* Styling for the download link */
    a.download-link {
        color: #007bff;
        text-decoration: none;
    }

    /* Styling for the drop area */
    .drop-area {
        width: 200px;
        height: 200px;
        border: 2px dashed #ccc;
        text-align: center;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    /* Styling for the drop area text */
    .drop-text {
        color: #333;
        font-weight: bold;
    }

    /* Styling for the submit button */
    button.submit-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    button.submit-button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <h1>App Detail</h1>
    <div>
        <img src="{{ app.logo.url }}" alt="{{ app.app_name }}" class="app-logo">
        <h2>{{ app.app_name }}</h2>
        <p>Category: {{ app.category }}</p>
        <p>Sub-category: {{ app.sub_category }}</p>
        <a href="{{ app.link }}" target="_blank" class="download-link">Download</a>
    </div>

    <form method="post" action="{% url 'complete_task' app.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Square area for drag and drop -->
        <div id="drop-area" class="drop-area">
            <span class="drop-text">Drag & Drop or Click to Upload Screenshot</span>
            <input type="file" name="screenshot" id="file-input" accept="image/*" style="display: none;" required>
        </div>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>

    <script>
        const dropArea = document.getElementById('drop-area');
        const fileInput = document.getElementById('file-input');

        dropArea.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropArea.classList.add('highlight');
        });

        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('highlight');
        });

        dropArea.addEventListener('drop', (e) => {
            e.preventDefault();
            dropArea.classList.remove('highlight');
            const file = e.dataTransfer.files[0];
            fileInput.files = e.dataTransfer.files;
            // Optionally, display the selected file's name
            dropArea.querySelector('.drop-text').textContent = file.name;
        });
    </script>

</body>

{% endblock %}
