<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        h2{
           text-align: center;
        }
        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #sidebar {
            width: 250px;
            background-color: #363535;
            color: white;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        #content {
            margin-left: 250px;
            padding: 20px;
        }

        #sidebar a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
        }

        #sidebar a:hover {
            background-color: #b1adad;
        }

        /* Styling for the app list */
    .app-list {
        list-style: none;
        padding: 0;
    }

    .app-item {
        background-color: #f2f2f2;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
    }

    .app-logo {
        max-width: 100px;
        max-height: 100px;
        margin-right: 20px;
        flex-shrink: 0; /* Prevent logo from shrinking */
    }

    .app-details {
        flex-grow: 1; /* Expand details to fill available space */
    }

    .app-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .app-category {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .app-subcategory {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .app-link {
        font-size: 14px;
    }
    </style>
</head>
<body>
    <div id="sidebar">
        <h2>Dashboard</h2>
        {% if user.type == 'admin' %}
            <a href="{% url 'app-list' %}">Home</a>
            <a href="{% url 'android_app_create_form' %}">Add App</a>
            <a href="{% url 'logout' %}">Logout</a>

        {% elif user.type == 'user' %}
            <a href="{% url 'home'%}">Home</a>

            <a href="{% url 'profile' %}">Profile</a>

            <a href="{% url 'app-list' %}">Tasks</a>
            <a href="{% url 'user_points' %}">Points</a>
            <a href="{% url 'logout' %}">Logout</a>

        {% endif %}
    </div>
      
    <div id="content">
        
        
        <!-- Content to display based on the selected option -->
        {% block content %}
        
       
            <ul class="app-list">
                {% for app in app_list %}
                    <li class="app-item">
                                <!-- <img style="margin:10px 30px;" src="{{ app.logo.url }}" alt="{{ app.app_name }}" class="app-logo"> -->
                       
                                <div style="padding:10px 0;" class="app-details">
                                    <div style="margin:10px 1px;" class="app-name">Name: {{ app.app_name }}</div>
                                    <div style="margin:10px 1px;"  class="app-category">Category: {{ app.category }}</div>
                                    <div style="margin:10px 1px;"  class="sub-category">Sub category: {{ app.sub_category }}</div>
                                    <div style="margin:10px 1px;"  class="Points">Points: {{app.points_earned}}</div>
                                    {% if user_profile.type == 'user' %}
                                      <div style="margin:10px 1px;"  class="app-link"><a href="{{ app.link }}" target="_blank">Download</a></div>
                                    {% endif %}
                                    </div>

                        <div style="clear: both;"></div>
                        {% if user_profile.type == 'user' %}
                           <a style="text-decoration: none;" href="{% url 'app_detail' app.id %}">Complete task</a>
                        {% endif %}
                    </li>
                {% endfor %}
                
            </ul>
            
        
        {% endblock %}
    </div>
</body>
</html>
