{% extends 'dashboard.html' %}


{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <header class="dashboard-header">
        <h1>Welcome to Your Dashboard</h1>
    </header>
    <div class="dashboard-content">
        <div class="dashboard-text">
            <h2>Explore Your Rewards Dashboard</h2>
            <p>
                Welcome to AppRewards, your central hub for earning rewards
                by completing exciting tasks and downloading new apps.
                Discover a world of opportunities to earn points and redeem
                amazing prizes.
            </p>
            <p>
                Our mission is to make your experience enjoyable and rewarding.
                Check out the latest apps, complete tasks, and watch your
                points grow. Use those points to unlock exclusive rewards
                that enhance your digital lifestyle.
            </p>
            <p>
                We're here to empower you on your journey. Whether it's
                discovering new apps, completing tasks, or reaping the
                benefits of your hard work, AppRewards is your partner
                every step of the way.
            </p>
        </div>
    </div>
</body>
</html>
{% endblock %}
