{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{% static 'css\index.css' %}">
    <title>APP REWARDER</title>
</head>
<body>
    <header>
        <h1>Welcome to App Rewarder</h1>
        <p>Discover a World of Opportunities and increase your network. Explore the world along with earn points!!</p>
    </header> 

    <section class="login-section">
        <h2>Login</h2>
        <form method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </section>
</body>
</html>
