{% extends 'dashboard.html' %}

{% block content %}
<style>
    /* Add your CSS styles here */
    #points-section {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 30px;
    }

    h2 {
        color: #ffffff;
        font-size: 28px;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        font-size: 18px;
        margin: 10px 0;
    }

    p {
        font-size: 20px;
        margin-top: 20px;
    }

    h3 {
        font-size: 24px;
        margin-top: 20px;
    }
</style>

<div id="points-section">
    {% if points %}
    <h2 style="color:rgb(18, 221, 86)">Congratulations!!</h2>
    <ul>
        {% for point in points %}
        <li>You earned {{ point.points_earned }} points for {{ point.android_app.app_name }}</li>
        {% endfor %}
    </ul>
    <p>Total Points Earned: {{ total_points }}</p>
    {% else %}
    <h3>Please complete your tasks and earn points</h3>
    {% endif %}
</div>
{% endblock %}

