{% extends 'dashboard.html' %}

{% block content %}

<style>
    /* Add your CSS styles here */
    .profile-section {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
    }

    h1 {
        color: #333;
        font-size: 28px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        margin: 20px 0;
    }

    .profile-info {
        margin-top: 20px;
    }

    /* Button styles (you can add buttons if needed) */
    .edit-button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
        transition: background-color 0.3s;
    }

    .edit-button:hover {
        background-color: #2980b9;
    }
</style>

<div class="profile-section">
    <h1>Hai user</h1>
    <div class="profile-info">
        <p><strong>Name:</strong> {{user.name}}</p>
        <p><strong>Phone:</strong> {{user.phone}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Type:</strong> {{user.type}}</p> 
        <p><strong>Username:</strong> {{user.username}}</p>
    </div>
</div>

{% endblock %}

